[submodule "src/Kinfold"]
	path = src/Kinfold
	url = git@krios.tbi.univie.ac.at:rna/kinfold.git
[submodule "src/RNAforester"]
	path = src/RNAforester
	url = git@krios.tbi.univie.ac.at:rna/rnaforester.git
[submodule "interfaces/Perl/RNA"]
	path = interfaces/Perl/RNA
	url = git@krios.tbi.univie.ac.at:rna/ViennaRNA-perl.git
[submodule "src/Kinwalker"]
	path = src/Kinwalker
	url = git@krios.tbi.univie.ac.at:rna/Kinwalker.git
