include COPYING
include NEWS
include CHANGELOG.md
include README.md
include setup.py
recursive-include src/json *h
recursive-include src/ViennaRNA *.h *.inc *.hex
recursive-include src/dlib-19.24 *.h *.cpp
recursive-include src/libsvm-3.35 *.h
recursive-include src/cephes *.h
include tests/data/*
include tests/python/*.py
include config.h
