#!/usr/bin/make -f
export DH_VERBOSE=1

PERLARCHLIB := $(shell perl -MConfig -e 'print substr($$Config{vendorarch}, 1);')

BUILDOPTS= --with-cluster --without-forester --with-python3 --disable-silent-rules

ifeq ($(shell lsb_release --short --codename),wheezy)
BUILDOPTS+= --disable-lto
endif

%:
	dh $@ --parallel --with python2,python3

override_dh_auto_configure:
	dh_auto_configure --  $(BUILDOPTS) INSTALLDIRS=vendor
	sed -e 's,@PERLARCHLIB@,$(PERLARCHLIB),g' debian/perl-rna.install.in > debian/perl-rna.install

override_dh_strip:
	dh_strip --exclude=libRNA.a

override_dh_auto_test:
	dh_auto_test --max-parallel=1 --

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build .*egg-info

override_dh_clean:
	rm -f debian/perl-rna.install
	dh_clean
 
