name: Run distcheck

on:
  workflow_dispatch:
    inputs:
      config-flags:
        description: 'Configure flags to prepare the source directory'
        default: '--with-cluster --with-kinwalker --with-python2 --disable-lto'
        required: false
        type: string
  workflow_call:
    inputs:
      config-flags:
        description: 'Configure flags to prepare the source directory'
        default: '--with-cluster --with-kinwalker --with-python2 --disable-lto'
        required: false
        type: string

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install prerequisites
      run:  |
        sudo apt-get update
        sudo apt-get -y install \
          build-essential \
          autoconf \
          automake \
          swig \
          doxygen \
          gengetopt \
          help2man \
          bison \
          flex \
          libnsl2 \
          libtool \
          check \
          liblapacke \
          liblapacke-dev \
          graphviz \
          python3-sphinx \
          python3-myst-parser \
          python3-sphinxcontrib.bibtex \
          python3-sphinx-copybutton \
          python3-sphinx-rtd-theme \
          texlive-latex-recommended \
          texlive-latex-extra \
          texlive-font-utils \
          texlive-fonts-recommended
    - name: Install Python2 from 22.04
      run:  |
        wget 'https://archive.ubuntu.com/ubuntu/pool/universe/p/python2.7/?C=M;O=D' -O py27.html
        VERSION=$(grep -v '20.04' py27.html | grep -o -- '_2\.7\.18[^<>]\+\_'$(dpkg --print-architecture)'.deb' | head -n 1)
        for i in {libpython2.7-stdlib,{lib,}python2.7{,-dev,-minimal}}; do
          wget "https://archive.ubuntu.com/ubuntu/pool/universe/p/python2.7/${i}${VERSION}" &
        done
        wait
        sudo dpkg -R --install .
    - name: Autotools setup
      run:  |
        tar -xjf src/dlib-19.24.tar.bz2 -C src
        tar -xzf src/libsvm-3.35.tar.gz -C src
        autoreconf -i
    - name: Configure
      run: ./configure ${{ inputs.config-flags }}
    - name: distcheck
      run:  make distcheck
