name: Make distribution archives

on:
  workflow_dispatch:
    inputs:
      config-flags:
        description: 'Configure flags to prepare the source directory'
        default: '--with-cluster --with-kinwalker --disable-lto'
        required: false
        type: string
      zip:
        description: 'Additionally create ZIP archive next to default GZIP'
        required: false
        default: false
        type: boolean
      artifact-name:
        description: 'Name of the artifact'
        required: false
        default: 'distribution-archives'
        type: string
  workflow_call:
    inputs:
      config-flags:
        description: 'Configure flags to prepare the source directory'
        default: '--with-cluster --with-kinwalker --disable-lto'
        required: false
        type: string
      zip:
        description: 'Additionally create ZIP archive next to default GZIP'
        required: false
        default: false
        type: boolean
      artifact-name:
        description: 'Name of the artifact'
        required: false
        default: 'distribution-archives'
        type: string
    outputs:
      version_number:
        description: "The Version number of this build"
        value: ${{ jobs.make_dist.outputs.version_number }}

jobs:
  make_dist:
    runs-on: ubuntu-latest
    # Map the job outputs to step outputs
    outputs:
      version_number: ${{ steps.tarball.outputs.version_number }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install prerequisites
      run:  |
        sudo apt-get update
        sudo apt-get -y install \
          build-essential \
          autoconf \
          automake \
          gengetopt \
          help2man \
          bison \
          flex \
          libtool \
          check \
          liblapacke \
          liblapacke-dev \
          graphviz \
          python3-sphinx \
          python3-myst-parser \
          python3-sphinxcontrib.bibtex \
          python3-sphinx-copybutton \
          python3-sphinx-rtd-theme \
          texlive-latex-recommended \
          texlive-latex-extra \
          texlive-font-utils \
          texlive-fonts-recommended \
          cmake
    - name: Checkout swig repo
      uses: actions/checkout@v6
      with:
        repository: swig/swig
        ref: 'v4.4.0'
        path: swig
    - name: Install latest build tools
      run:  |
        cd swig
        ./autogen.sh && ./configure --prefix=/usr
        make -j $(nproc)
        sudo make install
        cd ..
        curl https://www.doxygen.nl/files/doxygen-1.15.0.src.tar.gz --output ./doxygen-1.15.0.src.tar.gz
        tar -xzf doxygen-1.15.0.src.tar.gz
        cd doxygen-1.15.0
        mkdir build
        cd build
        cmake -G "Unix Makefiles" -DCMAKE_INSTALL_PREFIX:PATH=/usr -Dbuild_doc:BOOL=OFF ..
        make -j $(nproc)
        sudo make install
    - name: Autotools setup
      run:  |
        tar -xjf src/dlib-20.0.tar.bz2 -C src
        tar -xzf src/libsvm-3.35.tar.gz -C src
        autoreconf -i
    - name: Configure
      run: ./configure ${{ inputs.config-flags }}
    - name: Make tarball
      id: tarball
      run:  |
        make dist-gzip
        version_number=$(ls ViennaRNA-*.tar.gz)
        version_number="${version_number#ViennaRNA-}"
        version_number="${version_number%.tar.gz}"
        echo "version_number=${version_number}" >> "$GITHUB_OUTPUT"
    - name: Make ZIP
      if: ${{ inputs.zip }}
      run:  make dist-zip
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.artifact-name }}
        path: |
          ViennaRNA-*.tar.gz
          ViennaRNA-*.zip
        retention-days: 3
